<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

$loccfg = array(
    'db' => array(
        // for primary db adapter that called
        // by $sm->get('Zend\Db\Adapter\Adapter')
        'username' => 'root',
        'password' => 'root',

        // to allow other adapter to be called by
        // $sm->get('db1') or $sm->get('db2') based on the adapters config.
        'adapters' => array(
            'joomla' => array(
                'username' => 'root',
                'password' => 'root',
            )
        )
    ),
    // Whether or not to enable a configuration cache.
    // If enabled, the merged configuration will be cached and used in
    // subsequent requests.
    //'module_listener_options' => array(
    //    'config_cache_enabled' => false,
    //    // The key used to create the configuration cache file name.
    //    'config_cache_key' => 'module_config_cache',
    //    // The path in which to cache merged configuration.
    //    'cache_dir' =>  './data/cache',
    //    ...
    // )
);

return $loccfg;